EHENTAI_SITE=e
EHENTAI_BASE_URL=https://e-hentai.org
EHENTAI_COOKIE=
EHENTAI_IPB_MEMBER_ID=
EHENTAI_IPB_PASS_HASH=
EHENTAI_IGNEOUS=
EHENTAI_CF_CLEARANCE=
EHENTAI_TIMEOUT=20
EHENTAI_MAX_RESULTS=5
EHENTAI_DOWNLOAD_DIR=data/ehentai
EHENTAI_PROXY=
EHENTAI_HTTP_BACKEND=curl_cffi
EHENTAI_HTTP3=true
EHENTAI_DESKTOP_SITE=false
EHENTAI_IMPERSONATE=chrome124
EHENTAI_STREAM_UPLOAD_FIRST=true
EHENTAI_STREAM_CHUNK_SIZE=262144
EHENTAI_STREAM_FILE_RETENTION_MS=300000
EHENTAI_SEARCH_F_CATS=0
EHENTAI_SEARCH_ADVSEARCH=false
EHENTAI_SEARCH_F_SH=false
EHENTAI_SEARCH_F_STO=false
EHENTAI_SEARCH_F_SFL=false
EHENTAI_SEARCH_F_SFU=false
EHENTAI_SEARCH_F_SFT=false
EHENTAI_SEARCH_F_SRDD=0
EHENTAI_SEARCH_F_SPF=0
EHENTAI_SEARCH_F_SPT=0